<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/assets/imgs/$avatar$" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">$name$</a>.</h2>
  <div id="bio">
    <p>A CEO of FunctorTech OÜ, an Advanced Scala Functional Programming consultancy company.</p>
    <p>You are welcome to check out our latest project - <a href="http://functorhub.com/">FunctorHub.com</a>, aimed to boost education in purely functional style in Scala. If you've always wondered how libraries like Cats or ScalaZ can be useful to you, or why use functional style - you may find there something for yourself!</p>
  </div>
  <div id="social">
    $partial("fragments/social.html")$
  </div>
  <div id="mailing-list">
    $partial("fragments/mailing-list.html")$
  </div>
</nav>
