Follow me:
<div id="stalker">
  $if(github)$
  <a title="$github$ on Github" href="https://github.com/$github$">
    <i class="fa fa-github-square"></i>
  </a>
  $endif$

  $if(twitter)$
  <a title="$twitter$ on Twitter" href="https://twitter.com/$twitter$">
    <i class="fa fa-twitter-square"></i>
  </a>
  $endif$

  $if(linkedin)$
  <a title="$name$ on LinkedIn" href="https://www.linkedin.com/in/$linkedin$">
    <i class="fa fa-linkedin-square"></i>
  </a>
  $endif$


  $if(show_atom_feed)$
  <a title="Atom feed" id="atom" href="/atom.xml">
    <i class="fa fa-rss-square"></i>
  </a>
  $endif$
</div>
